// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (c) 2026, ellenoireQ <ketchupnaiso@gmail.com>
 */

/dts-v1/;
#include "sdm660.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/input/gpio-keys.h>

/ {
	model = "Asus Zenfone Max Pro M2";
	compatible = "asus,x01bd", "qcom,sdm660";
	chassis-type = "handset";

	qcom,msm-id = <0x159 0x0>;
	qcom,board-id = <0x1000b 0>;
	qcom,pmic-id = <0x0001001b 0x0101011a 0x0 0x0 0x0001001b 0x0201011a 0x0 0x0>;

	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		stdout-path = "framebuffer0";

		framebuffer0: framebuffer@9d400000 {
			compatible = "simple-framebuffer";
			reg = <0x0 0x9d400000 0x0 (1080 * 2160 * 4)>;
			status = "okay";
			width = <1080>;
			height = <2160>;
			stride = <(1080 * 4)>;
			format = "a8r8g8b8";
		};
	};

	gpio-keys {
		status = "okay";
		compatible = "gpio-keys";

		key-vol-up {
			label = "Volume Up";
			gpios = <&tlmm 44 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>;
			linux,code = <KEY_VOLUMEUP>;
			wakeup-source;
			debounce-interval = <15>;
		};

		key-vol-down {
			label = "Volume Down";
			gpios = <&tlmm 43 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>;
			linux,code = <KEY_VOLUMEDOWN>;
			wakeup-source;
			debounce-interval = <15>;
		};
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		wlan_msa_guard: wlan-msa-guard@85600000 {
			compatible = "removed-dma-pool";
			no-map;
			reg = <0x00 0x85600000 0x00 0x100000>;
		};

		wlan_msa_mem: wlan-msa-mem@85700000 {
			compatible = "removed-dma-pool";
			no-map;
			reg = <0x00 0x85700000 0x00 0x100000>;
		};

		removed_region: removed-regions@85800000 {
			compatible = "removed-dma-pool";
			no-map;
			reg = <0x00 0x85800000 0x00 0x3700000>;
		};

		modem_fw_region@8ac00000 {
			compatible = "removed-dma-pool";
			no-map;
			reg = <0x00 0x8ac00000 0x00 0x7e00000>;
		};

		adsp_fw_region@92a00000 {
			compatible = "removed-dma-pool";
			no-map;
			reg = <0x00 0x92a00000 0x00 0x1e00000>;
		};

		pil_mba_region@94800000 {
			compatible = "removed-dma-pool";
			no-map;
			reg = <0x00 0x94800000 0x00 0x200000>;
		};

		cdsp_fw_region@94a00000 {
			compatible = "removed-dma-pool";
			no-map;
			reg = <0x00 0x94a00000 0x00 0x600000>;
		};

		venus_fw_region {
			compatible = "shared-dma-pool";
			alloc-ranges = <0x00 0x80000000 0x00 0x20000000>;
			reusable;
			alignment = <0x00 0x400000>;
			size = <0x00 0x800000>;
			linux,phandle = <0xf5>;
			phandle = <0xf5>;
		};

		adsp_region {
			compatible = "shared-dma-pool";
			alloc-ranges = <0x00 0x00 0x00 0xffffffff>;
			reusable;
			alignment = <0x00 0x400000>;
			size = <0x00 0x800000>;
			linux,phandle = <0xea>;
			phandle = <0xea>;
		};

		qseecom_region {
			compatible = "shared-dma-pool";
			alloc-ranges = <0x00 0x00 0x00 0xffffffff>;
			reusable;
			alignment = <0x00 0x400000>;
			size = <0x00 0x1400000>;
			linux,phandle = <0x10b>;
			phandle = <0x10b>;
		};

		secure_region {
			compatible = "shared-dma-pool";
			alloc-ranges = <0x00 0x00 0x00 0xffffffff>;
			reusable;
			alignment = <0x00 0x400000>;
			size = <0x00 0x5c00000>;
			linux,phandle = <0x10c>;
			phandle = <0x10c>;
		};

		linux,cma {
			compatible = "shared-dma-pool";
			alloc-ranges = <0x00 0x00 0x00 0xffffffff>;
			reusable;
			alignment = <0x00 0x400000>;
			size = <0x00 0x2c00000>;
			linux,cma-default;
		};

		splash_region@9d400000 {
			reg = <0x00 0x9d400000 0x00 0x23ff000>;
			label = "cont_splash_mem";
			linux,phandle = <0x261>;
			phandle = <0x261>;
		};

		dfps_data_mem@9f7ff000 {
			reg = <0x00 0x9f7ff000 0x00 0x1000>;
			label = "dfps_data_mem";
			linux,phandle = <0x27f>;
			phandle = <0x27f>;
		};

		pstore_reserve_mem_region@0 {
			linux,reserve-contiguous-region;
			linux,reserve-region;
			linux,remove-completely;
			reg = <0x00 0x9ff00000 0x00 0x100000>;
			label = "pstore_reserve_mem";
		};
	};

};